*{
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ff2770;
}

.container{
	width: 350px;
	background-color: #07e4f4;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

.container input{
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #ff2770;
	margin-bottom: 20px;
	font-size: 16px;
	outline: none;
}

.btn{
	border: none !important;
	cursor: pointer;
	background-color: #ff2770;
	margin: 15px 0;
	font-size: 16px;
	width: 100%;
	padding: 14px;
}

.btn:hover{
	background-color: #ff2770;
	color: white;
}